################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Diplomamunka/Diplomamunka/Assets/Resources
/Diplomamunka/Diplomamunka/Library
/Diplomamunka/Diplomamunka/Logs
